img {
  transition: transform 3s ease-out;
}

.p1 {
  grid-area: p1;
}
.p2 {
  grid-area: p2;
}
.p3 {
  grid-area: p3;
}
.p4 {
  grid-area: p4;
}
.p5 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: p5;
}
.np1 {
  grid-area: np1;
}
.np2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: np2;
}
.np3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: np3;
}

.container {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "p1 np1 p2"
    "p3 bottle p4"
    "np2 p5 np3";
}

.font {
  font-size: 30px;
}
.font > right {
  text-align: right;
}
.font > left {
  text-align: left;
}
.font > center {
  text-align: center;
}
